@model PizzaSharp.Models.Order
@{
    ViewData["Title"] = "Narudžba";
}

<!-- Custom CSS -->
<link href="~/css/shop-item.css" rel="stylesheet">


<div class="row">
<div class="col-md-10 col-md-offset-1">
    <div class="thumbnail">
        <img class="img-responsive" src="~/images/delivery.jpg" alt="">
        <div class="caption-full">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="pull-right">Ukupno: @Model.GetPrice() kn</h4>
                </div>
                <div class="col-md-2">
                    <div class="text-right">
                        <a class="btn btn-success btn-block"
                           asp-action="PlaceOrder"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">&nbsp;Naruči</span></a>
                    </div>
                </div>
            </div>  
            
            <br/>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form name="orderForm" class="form-horizontal" asp-controller="Cart" asp-action="Update" method="post">
                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1" for="address">Adresa:</label>
                            <div class="col-md-7">
                                <input type="text" asp-for="DeliveryAddress" id="address" value="@Model.DeliveryAddress" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1" for="message">Poruka:</label>
                            <div class="col-md-7">
                                <input type="text" asp-for="DeliveryMessage" id="message" value="@Model.DeliveryMessage" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1" for="delivery">Želite li dostavu:</label>
                            <div class="col-md-7">
                                <input type="checkbox" asp-for="Delivery" id="delivery" checked="@Model.Delivery" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 col-md-offset-7" style="padding-right:15px">
                                <input type="submit" class="btn btn-success btn-block" value="Ažuriraj podatke">
                            </div>
                        </div>
                    </form>
                </div>
            </div>



        </div>

    </div>
    <div class="well">
        <div>
            @foreach (var item in Model.Items)
            {
                @Html.Partial("ItemView", item)
            }
        </div>
    </div>
</div>
</div>